* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "handlee", cursive;
}

.logo {
    width: 80px;
    height: 80px;
}

.sideBar {
    color: white !important;
}

.sideBar a {
    color: white !important;
    border-bottom: 2px solid green;
    transition: all 0.3s ease-in-out;
}

.sideBar a:hover {
    color: white !important;
    background-color: #E71E25;
    border-bottom: 2px solid #ffffff;

}

.nav-link {
    color: white !important;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
}

.active {
    background-color: green !important;
    margin: auto;
    justify-content: center !important;
    text-align: center;
}

.custom-tooltip {
    text-align: center;
    font-size: 14px;
    max-width: 90vw;
    word-wrap: break-word;
}

.tourToggler {
    position: fixed;
    bottom: 40px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006828;
    text-align: center;
    color: #ffffff;
    padding: 12px;
    width: 80px;
    height: 80px;
    padding-bottom: 0;
    border-radius: 50%;
    cursor: pointer;
}

.tourStartBtn {
    margin: auto;
}

@media (max-width:576px) {
    .nav-app {
        position: fixed !important;
        bottom: 0;
        width: 100% !important;
        background-color: #E71E25 !important;
    }

    .menu-name {
        display: none !important;
        font-size: 12px;
    }

    .nav-app>.sideBar {
        display: flex !important;
        width: fit-content !important;
    }

    .nav-link i {
        font-size: 22px;
    }

    .sideBar {
        justify-content: center;
        align-content: center;
        margin: auto !important;
    }

    .sideBar a {
        padding: 0.5rem 1rem !important;
        font-size: 1.2rem !important;
        border: none !important;
    }


    .main-content {
        height: fit-content !important;
    }

    .dataDiv {
        border-radius: 0 0 300px 300px !important;
        height: 20vh;
    }

    .nav-app-container {
        height: fit-content !important;
    }

    .logo {
        display: none !important;
    }

    .active {
        transform: translateY(-10px);
        border-radius: 50% !important;
        width: 100%;
        height: 100%;
        background-color: #000000 !important;

    }

    .hidden {
        display: none !important;
    }

    .nav-item {
        list-style-type: none;
    }

}